# VS Code Counter
.VSCodeCounter

# Cryptography related files
crypto

# Uploaded files
files

# Logs
logs

# Config files
config/*
!config/default.js
!config/development.js

# Istanbul
.nyc_output
coverage

# Node Modules
node_modules

# Frontend
app/frontend