# VS Code Counter
.VSCodeCounter

# Cryptography related files
crypto

# Uploaded files
files

# Logs
logs

# Config
config.js

# Istanbul
.nyc_output
coverage

# Node Modules
node_modules

# Frontend
app/frontend